/* Font */
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Justlefthand.ttf)format('truetype');
  }
/* Body */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #212121;
    color: #fff;
}
/* Sidebar */
.title-Sidebar{
    font-size: 30px !important;
}
/* Navbar */
nav, footer{
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #212121, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #212121, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.brand-logo{
font-family: myFirstFont;
margin-left: 10px;
}

/* Banner */
.slider {
    height: auto !important;
}
/* .indicators{
    display: none;
} */

/* Carousel */
.carousel{
    height: 300px !important;
}
.carousel-title{
    margin-bottom: -30px;
    color: #fff;
}

.carousel-img{
    border-radius: 8px;
}

/* Equipe */
.card-content, .card-reveal{
    color: #000000;
}

/* Tarif */
.collection{
    color: #000000;
    border: 6px solid #e0e0e0 !important;
}

th {
    color: #039be5 !important;
    font-size: 20px;
}

td:last-child{
    text-align: right;
    padding-right: 0;
}

.long-td{
    min-width: 125px;
}

.font-title{
    font-family: myFirstFont; 
}

/* Salon */
.style-img{
    border-radius: 5px !important;
}


/* Footer */
.contact{
    margin-left: 10px;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    /* Navbar */
    .brand-logo{
        margin-left: 0px;
    }
    /* Banner */
    .caption h4{
        font-size: 20px;
    }

    .caption h5{
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.3)
    }
    /* Salon */
    .flex-s {
        display: flex;
        flex-direction: column;
      }
      .box-a {
        order: 2;
      }
     .back-none{
        background-color: rgba(0, 0, 0, 0)!important;
    }
    
  }

